<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Products</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/css/script/myScript.js"></script>
  </head>
  <body>
    <main>
      <% if(prods.length > 0) {%>
      <div class="grid">
        <% for(let product of prods) { %>
        <article class="card product-item">
          <header class="card__header">
            <h1 class="produt__title"><%= product.productName%></h1>
          </header>
          <div class="card__image">
            <img src="<%= product.image%>" alt="A Book" />
          </div>
          <div class="card__content">
            <h2 class="product__price"><%= product.price%></h2>
            <p class="product__description"><%= product.description%></p>
            <div class="card__actions">
              <!-- <form action="/addToCart/<%= product.id%>" method="POST"> -->
              <!-- <form id="myForm"> -->
              <input
                type="hidden"
                id="productId"
                name="id"
                value="<%= product.id%>"
              />
              <button id="myButton" class="btn" value="<%= product.id%>">
                Add to Cart
              </button>
              <!-- </form> -->
            </div>
          </div>
        </article>
        <% } %>
      </div>
      <% } else { %>
      <h1>No Products Found!</h1>
      <% } %>
    </main>
    <hr />
    <div class="container">
      <!-- <%if(carts.length> 0) { for(let item of carts) {%> -->
      <div class="cart">
        <h4 class="card-title">
          <!-- <%= item.productName %> -->
        </h4>
        <p class="card-text">
          <!-- <%= item.description %> -->
        </p>
        <p class="card-text">
          <small class="text-muted">
            <!-- <%= item.price %> -->
          </small>
        </p>
      </div>
      <!-- <%}} else {%> -->
      <!-- <h2>No Cart Items.</h2> -->
      <!-- <%}%> -->
    </div>
  </body>
</html>
