<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle%></title>
    <link rel="stylesheet" href="/css/cart.css" />
  </head>
  <body>
    <header role="banner">
      <h1>MY ITEMS.</h1>
    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="card-deck">
          <% for(let item of items) {%>
          <div class="card">
            <img
              class="card-img-top"
              src="<%= item.image%>"
              alt="Card image cap"
            />
            <div class="card-block">
              <h4 class="card-title"><%= item.productName %></h4>
              <p class="card-text"><%= item.description %></p>
              <p class="card-text">
                <small class="text-muted"><%= item.price %></small>
              </p>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </body>
</html>
